<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SPOO Shell</title>
    <script type="text/javascript" src="puzzle-local.js"></script>
    <!-- Stylesheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="http://puzzlelang.org/puzzle-invert.png">
    <!-- Android  -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="Puzzle Shell">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="leto-min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/@isomorphic-git/lightning-fs"></script>
    <script type="module">
         fs = new LightningFS('fs');
    import http from 'https://unpkg.com/isomorphic-git@beta/http/web/index.js';
    window.http = http;
    </script>
    <script src="spooclient.js"></script>
</head>

<body>
    <div id="app" class="leto-frame leto-group">
        
        <div class="leto-width-fifth leto-p-sm" v-show="authenticated">


        </div>

        <div class="leto-width-three-fifths leto-p-sm">

            <div v-if="currentApp" class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm" v-on:click="currentApp = null">{{currentApp.name}}&nbsp; <span class="fa fa-caret-down"></span> </div>

            <div v-if="!currentApp" class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm" v-on:click="currentApp = '__select' ">ALL&nbsp; <span class="fa fa-caret-down"></span> </div>

            <span v-show="currentApp == '__select'">
                <div class="leto-inline-block">
                    <div v-on:click="currentApp = null " class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm">ALL</div>
                </div>
                <div class="leto-inline-block" v-for="app in applications">
                    <div v-on:click="currentApp = '__select' " class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm">{{app.name}}</div>
                </div>
            </span>

            <span>
                <div class="leto-inline-block">
                    <div class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm" v-on:click="setAndRun('get Templates')">Templates</div>
                </div>
                <div class="leto-inline-block">
                    <div class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm" v-on:click="setAndRun('get Objects')">Objects</div>
                </div>
                <div class="leto-inline-block">
                    <div class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm" v-on:click="setAndRun('get Users')">Users</div>
                </div>
                <div class="leto-inline-block">
                    <div class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm" v-on:click="setAndRun('get EventLogs')">Logs</div>
                </div>
            </span>

            <div id="editor" class="leto-mt-sm"></div>

            <div class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm leto-mv" style="background: #111111" v-on:click="setContent('')"> <span class="fa fa-eraser"></span></div>

            <div class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm leto-mv" style="background: #111111" v-on:click="runCode(content)"> <span class="fa fa-play"></span></div>

            <br>

            <pre class="" id="output">out</pre>
        </div>

    
        <div class="leto-width-four-fifths leto-p-sm" v-if="!authenticated">
            LOGIN
            <br>
            <input type="text" class="leto-input-sm" v-model="loginData.workspace" placeholder="workspace">
            <br>
            <input type="text" class="leto-input-sm" v-model="loginData.username" placeholder="username">
            <br>
            <input type="password" class="leto-input-sm" v-model="loginData.password" placeholder="*******">
            <br>
            <div class="leto-button-xs" v-on:click="login()">Login</div>
            {{loginData}}d
        </div>

    </div>
    <script src="ace-builds-1.1.4/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="subdir.js"></script>
    <script src="index.js"></script>
    <script>
    // Read query string parameter
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    document.title = getParameterByName('name') || 'SPOO Shell'

    puzzle.parse(window.puzzle_script)
    </script>
</body>

</html>