<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>PUZZLE Run</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/puzzlelang@latest/puzzle.browser.js"></script>
    <!-- Stylesheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="http://puzzlelang.org/puzzle-invert.png">
    <!-- Android  -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="Puzzle Shell">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="leto-min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/@isomorphic-git/lightning-fs"></script>
    <script type="module">
         fs = new LightningFS('fs');
    import http from 'https://unpkg.com/isomorphic-git@beta/http/web/index.js';
    window.http = http;
    </script>
</head>

<body>
    <div id="app" class="leto-frame">
      
        <div class="output leto-pl" v-if="currentProject">
            <pre class="leto-text-white " style="margin-left: 10px;display: inline-block;color:#999999" v-html="output"></pre>
        </div>
        <div class="output leto-pv-sm leto-group bottom-sheet" style="background: #1d1d1d">
            <div class="dropdown leto-card leto-border-none leto-m leto-mt-md-tablet leto-ml-xl-tablet" v-if="currentProject == '__..__'">
                 
                    <div class="leto-text-sm leto-ml-sm leto-text-dark-grey leto-button-sm leto-click leto-inline-block " v-if="currentProject != null" v-on:click="currentProject = undefined">
                                    <div style="font-weight:bold;color:#999999">
                                       
                                            <i class="fa fa-code"></i> ...
                                        
                                    </div>
                                </div>



                <div v-for="(project, k) in projects" class="leto-inline-block leto-m-xs leto-click" v-on:click="useProject(k)">
                    {{k.split('/')[k.split('/').length-1]}} <span v-on:click="unlinkProject(k)" class="fa fa-unlink"></span>
                </div>
                <div class="leto-button-xs leto-text-white leto-border-none" v-on:click="addProject(undefined);addOptionsShown=false"><span class="">+</span></div>
            </div>
           
            <center style="width: 100%">
                <div class="main-wrapper leto-text-center" style="max-height: 100%;overflow: scroll;">
                    <div class="leto-text-center">
                        <div class="leto-text-left">
                         
                        </div>
                     
                        <div class="main-content" style="background: none;">

                              <div class="outer_box" v-show="currentProject != '__..__'">

                                 <div class="inner_box" v-if="output">
                                      <div class="leto-pl" >
                                <pre class="leto-text-white " style="margin-left: 10px;display: inline-block;color:#999999" v-html="output"></pre>

                                <div id="web"></div>
                                </div>

                                </div>
                                
                                
                        <div class="inner_box">
                            
                            <div class="" style="
                    padding: 10px;padding-bottom: 20px;
                    border-radius: 10px;max-width: 95%">
                                    <div id="editor" class="leto-mt-sm"></div>
                                    </div>

                                    <div class="leto-ml leto-group">
<div class="leto-text-dark-grey leto-bubble-xs leto-click leto-group leto-vertical-center leto-horizontal-center leto-mh-none" v-if="!scriptOptionsShown" v-bind:class="{'disabled': !content}" v-on:click="runCode(content)"><i class="fa fa-play"></i></div>

                                    <div class="leto-text-dark-grey leto-bubble-xs leto-click" v-if="!scriptOptionsShown" v-bind:class="{'disabled': !content || !currentProject}" v-on:click="saveContent()"><i class="fa fa-save"></i></div>
                                    
                                    <div class="leto-text-dark-grey leto-bubble-xs leto-click leto-mh-none" v-on:click="ideMode=!ideMode"><i class="fa fa-folder"></i></div>
                                
                                
                                </div>
                                <div class="leto-ml-xs" v-if="ideMode">
                                    <br>
                                        <div v-for="(project, k) in projects" class="leto-inline-block leto-mr" v-if="!addOptionsShown && currentProject == k">
                                            <!--div class="leto-ml-sm leto-text-dark-grey leto-bubble-xs leto-click leto-group leto-horizontal-center leto-vertical-center" v-bind:class="{'leto-border-thickness-xxl': k == currentProject}">

                                                <div style="color:#999999">
                                                   
                                                    <span class="leto-ml-xs leto-color-grey leto-click" v-on:click="addDir(k)"><i class="fa fa-folder"></i> +</span>
                                                </div>
                                            </div-->
                                            <subdir :k="k" />
                                        </div>
                                </div>
                                </div>

                                

                               
                            </div>
                            
                            <div class="outer_box" v-show="currentProject && currentProject != '__..__'">
                               

                                </div>

                                 <div class="outer_box" v-show="currentProject && currentProject != '__..__' && currentContext.length">

                                <div class="inner_box" v-bind:style="'background:' + item.bgColor" v-for="item in currentContext">
                                    <span style="float:left;font-size:17px" v-if="item.icon" v-bind:class="item.icon + ' leto-mr-xs leto-text-darker-grey'"></span>
                                    <div class="button_group" v-for="button in item.buttons">
                                        <div class="leto-button-sm">{{button.title}}</div>
                                    </div>
                                    <div class="title">
                                        {{item.title}}
                                    </div>
                                    <div class="caption">
                                        {{item.caption}}
                                    </div>
                                </div>

                                </div>

                                <div class="outer_box" v-show="!currentProject">

                                <input type="file" webkitdirectory style="display:none"/>
                               
                                <div class="inner_box" v-bind:style="'background:' + item.bgColor" v-for="item in staticContext">
                                    <span style="float:left;font-size:17px" v-if="item.icon" v-bind:class="item.icon + ' leto-mr-xs leto-text-darker-grey'"></span>
                                    <div class="button_group" v-for="button in item.buttons"> 
                                        <div class="leto-button-sm" v-on:click="button.action" v-bind:style="'background-color:'+button.bgColor">{{button.title}}</div>
                                    </div>
                                    <div class="title">
                                        {{item.title}}
                                    </div>
                                    <div class="caption">
                                        {{item.caption}}
                                    </div>
                                </div>
                            </div>


                            </div>
                        </div>

                    </div>
                </div>
            </center>
            <div class="leto-fifth-tablet">
            </div>
        </div>
    </div>
    <script src="ace-builds-1.1.4/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="subdir.js"></script>
    <script src="index.js"></script>
    <script>
    // Read query string parameter
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    document.title = getParameterByName('name') || 'PUZZLE Run'

    puzzle.parse(window.puzzle_script)
    </script>
</body>

</html>